.settings/
build/
.loadpath
.classpath
.project
.metadata
/target
*.jar
*.war
*.ear
#*.class
*.path
.cvsignore
.externalToolBuilders
.springBeans

# for intellij idea
.idea/
*.iml
cudb/application.log

.DS_Store