<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel *ngFor="let basket of shoppingHistory" [title]="(basket.createdAt | date:'HH:mm E  dd LLL') + '&emsp;' + basket.totalPrice + '&#8378;'">
    <ng-template ngbPanelContent>
      <ul class="list-group list-group-flush mt-2">
        <li *ngFor="let item of basket.saleRecords" class="list-group-item">
          {{item.soldProduct.name}}: {{item.amount}} {{item.unit | enums}} / {{item.collectedCash}}&#8378;
          <small class="text-muted">{{item.soldProduct.unitAmount}}{{item.soldProduct.unit|enums}}/{{item.soldProduct.price}}&#8378;</small>

        </li>
      </ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion>



