<div [chart]="chart"></div>
<table class="table table-light table-striped mt-2 mb-2">
  <thead>
    <tr>
    <th>Tarih</th>
    <th>Birim Fiyat(1 {{getUnit() | enums}})</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of subRecordList">
      <td>{{record.createdAt | date:"medium"}}</td>
      <td>{{record.unitPrice}}</td>
    </tr>
    <tr *ngIf="subRecordList.length == 0">
      <td colspan="2"><div class="alert alert-warning">Bu aralıkta yapılan bir değişiklik yok.</div></td>
    </tr>
  </tbody>
  <tfoot *ngIf="records.length >= PAGE_SIZE">
    <tr>
      <td colspan="2">
        <ngb-pagination
            [collectionSize]="records.length"
            [page]="1"
            [pageSize]="5"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="onPageChanged($event)">
        </ngb-pagination>
      </td>
    </tr>
  </tfoot>
</table>

<app-datepicker-range (fromDate)="setFromDate($event)" (toDate)="setToDate($event)"></app-datepicker-range>
<h6>Başlangıç: <ng-container *ngIf="fromDate">{{fromDate.day}}/{{fromDate.month}}/{{fromDate.year}}</ng-container> Bitiş:<ng-container *ngIf="toDate">{{toDate.day}}/{{toDate.month}}/{{toDate.year}}</ng-container></h6>
<button class="btn btn-success mb-5" (click)="getRecords()">Bu Aralıktaki fiyat değişikliklerini getir</button>
