<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="shopping">SalesManager</a>
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="./shopping">Satış</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./products">Ürünler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./suppliers">Üretciler</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="reportsDropdown" ngbDropdownToggle>Raporlar</a>
        <div class="dropdown-menu" aria-labelledby="reportsDropdown" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="./reports/income">Gelir Raporları</a>
          <a class="dropdown-item" routerLink="./reports/sales">Satış Raporlar</a>
          <a class="dropdown-item" routerLink="./reports/prices">Fiyat Değişiklikleri</a>
          <a class="dropdown-item" routerLink="./purchase-history">Alışveriş Detayları</a>
        </div>
      </li>
    </ul>

    <button (click)="logout()" class="btn btn-outline-warning my-2 my-sm-0" type="button">
      <i class="fas fa-sign-out-alt"></i>
      Çıkış
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
