<form (submit)="login()" [formGroup]="form" class="form-signin">
  <h1 class="h3 mb-3 mt-5 font-weight-normal">SalesManager</h1>
  <label class="sr-only" for="inputEmail">Kullanıcı Adı</label>
  <input autofocus class="form-control" formControlName="username" id="inputEmail" placeholder="Kullanıcı Adı" required type="text">
  <label class="sr-only" for="inputPassword">Parola</label>
  <input class="form-control" formControlName="password" id="inputPassword" placeholder="Parola" required type="password">
  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{error}}
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş Yap</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
</form>
